* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root {
--brand-color-light: #60A5FA;
--brand-color-dark:#1D4ED8;

--bg-color:#0F172A;
--stroke-color:#1E293B;

--txt-color-primary:#F1F5F9;
--txt-color-secondary:#CBD5E1;

--font-family: 'Archivo', sans-serif;
--h1: 800 2.4rem 135% var(--font-family);
--h2: 800 1.6rem 140% var(--font-family);
--h3: 800 1.4rem 140% var(--font-family);
--span: 600 1.4rem 145% var(--font-family);
--txt: 400 1.6rem 140% var(--font-family);
--txt-sm: 400 1.4rem 160% var(--font-family);
}

body {
    font: var(--txt);
    color: var(--txt-color-primary);
    background-color: var(--bg-color);

}