section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 1.2rem 2.4rem;
  font: var(--span);

  a {
    justify-self: end;
    align-items: center;
    gap: 0.8rem;

    span {
      background-image: url(../assets/icons/arrowRight.svg);
      width: 1.6rem;
      height: 1.6rem;
    }

    &:hover span {
      background-image: url(../assets/icons/arrowRightHouver.svg);
    }
  }
}

#featured {
  img {
    height: 100%;
    object-fit: cover;
  }

  .card {
    border-radius: 0.4rem;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, rgba(2, 6, 23, 0) 0%, #020617 100%);
    }

    figcaption {
      position: absolute;
      bottom: 0;

      padding: 2.4rem;

      &:has(.txtLg) {
        padding: 1.2rem;
      }

      h2 {
        margin-top: 0.8rem;
      }
    }
  }
}

#mostRead {
  & > div {
    grid-template-columns: repeat(4, 29.2rem);
  }

  img {
    height: 16rem;
  }

  figure {
    position: relative;

    .contentTag {
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
    }

    p {
      margin-top: 0.8rem;
      font-weight: 800;
    }
  }
}
