.grid {
    display: grid;
  }
  
  .gridFlowCol {
    grid-auto-flow: column;
  }
  
  .gridCols2 {
    grid-template-columns: 1fr 1fr;
  }

  .gap16 {
    gap: 1.6rem;
  }
   
  .gap32 {
    gap: 3.2rem;
  } 
  
  .txt2xl {
    font: var(--h1);
  }

  .txtXl {
    font: var(--h2);
  }

  .txtLg{
    font: var(--h3);
  }

  .txtSm {
    font: var(--txt-sm);
  }