main {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  padding-block: 2.4rem;
}

main img {
  flex: 1 1 28.6rem;
  min-width: 0;
}

@media (width < 80em) {
  main {
    padding-block: 1.6rem;

    & img {
        flex-basis: 32.8rem;
    }
  }
}
