nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

#menuNav li:first-child:hover img {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
  transition: filter 0.3s ease;
  cursor: pointer;
}

nav ul li:last-child img {
  width: 4rem;
  height: 4rem;
}

@media (width < 80em) {
  #menuNav {
    gap: 1.6rem;
  }

  nav {
    padding-block: 1.6rem;
  }
}
