.container {
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: initial;
}

@media (width < 80em) {
  .container {
    --max-width: 80rem;
    padding-inline: 0;
  }

  #menuNav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 8px;
  }

  .desktop-only {
    display: none;
  }

  header .container,
  #profile {
    flex-direction: column;
    align-items: flex-start;
  }

  #profile {
    padding-bottom: 3.2rem;
  }

  footer ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.6rem;
  }

  footer ul li:first-child {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 1.6rem;
  }

  footer ul li:first-child {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  main.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }

  main img {
    width: 100%;
    height: 30.5rem;
    object-fit: cover;
  }
}
