.desktop-only {
  display: none;
}

@media (width >= 80em) {
  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

@media (max-width: 768px) {
  #app {
    grid-template-columns: 1fr;
    height: auto;
    overflow: visible;
  }
    aside {
    order: -1;
  }
}
