@import url(fields/index.css);

fieldset {
  border: none;

  display: grid;
  gap: 1.6rem;
}

legend {
  font: var(--heading-sm);
  display: flex;
  align-items: center;

  & img {
    width: 2.4rem;
    height: auto;
  }
}

