@import url(fields/index.css);

form {
  margin-top: 4.0rem;
}

fieldset {
  border: none;

  display: grid;
  gap: 1.6rem;
}

.legendTitle {
  font: var(--heading-sm);
  margin: 4.8rem 0 2.4rem;
}

.actionsWrapper {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
}