#app {
  display: grid;
  grid-template-columns: 47.62% 52.38%;

  height: 100vh;
  overflow: hidden;
}

aside {
  background-color: var(--shape-background);
  padding: 2rem;

  & .asideContainer {
    max-width: 33.6rem;
    margin: auto;
  }

  & .imgContainer {
    position: relative;
    display: inline-block;
  }

  & .imgContainer > img {
    border-radius: 1.2rem;
    display: block;
  }

  header {
    position: absolute;
    padding: 3.2rem;

    & > img {
      width: 4.6rem;
      height: 4.8rem;
    }

    & h1 {
      font: var(--txt-logo);
      color: var(--pink);
      padding: 1.6rem 0 0.4rem;
    }

   & p {
      font-family: var(--body-xs-regular);
    }
  }
}

main {
  background-color: var(--shape-body);
  overflow: auto;
  padding: 2rem;

  & .mainContainer {
    max-width: 56.rem;
    margin: auto;
  }

  & h1 {
      font: var(--heading-md);   
  }
}
