* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    font-size: 62.5%;
  
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;
  
    --font-asap: 'Asap', sans-serif;  
    --font-inconsolata: 'Inconsolata', monospace;
    --font-maven-pro: 'Maven Pro', sans-serif;

    --h1: 700 5.6rem/120% var(--font-asap); /*title lg*/
    --h2: 700 2.4rem/120% var(--font-asap); /*title md*/
    --h4: 700 1.6rem/120% var(--font-asap); /*title sm*/
    
    --h3: 400 2rem/120% var(--font-inconsolata); /*sub*/
    
    --txt-md: 400 1.6rem/140% var(--font-maven-pro); /*p*/
    --txt-sm: 400 1.4rem/140% var(--font-maven-pro); /*p*/
  }

  body {
    font-family: var(--font-maven-pro);
    color: var(--gray-500); /*sub*/
    text-align: center;
  }

  main {
    background: var(--gray-200);
  }

  h1, h2, h4 {
    color: var(--gray-600);
  }

  h1 {
    font: var(--h1); /*title lg*/
  }

  p {
    font: var(--txt-sm);
    color: var(--gray-400);
  }

  span {
    font: var(--txt-md);
  }

  h2 {
    font: var(--h2); /*title md*/
  }

  h3 {
    font: var(--h3);/*sub*/ 
    padding: 7.2rem 0 .8rem;
  }

  h4 {
    font: var(--h4);/*title sm*/
    margin: 2.4rem 0 .8rem;
  }



 



 