.intro {
    background: url(../assets/img/bgIntro.png);
    background-size: cover;
    padding: 12rem;
  }

  #tech {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem; 
    justify-content: center; 
    align-items: center;
    
    .techArrow {
      width: 100%; 
      display: flex;
      justify-content: center; 
      margin-top: 9.4rem; 
    }
  }

  #projects {
    background: var(--gray-300);
  }
 
  #services {
    background: var(--gray-100);
  }

  #contact {
    background: url(../assets/img/bgContacts.png);
    background-size: cover;
  }