.red {
  color: var(--red);
}

.gridFlowCol {
    grid-auto-flow: column;
}

.grid {
    display: grid;
}

.txtMd{
    font: var(--txt-md);
  }

.txtSm {
    font: var(--txt-sm);
  }

.gap16 {
    gap: 1.6rem;
  }
   