.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.gridFlowCol {
    grid-auto-flow: column;
}

.gridCols3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid {
    display: grid;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgCoverCenter {
  background-size: cover;
  background-position: center;
}

.txtMd{
    font: var(--txt-md);
  }

.txtSm {
    font: var(--txt-sm);
  }

.gap16 {
    gap: 1.6rem;
  }

.gap24 {
    gap: 2.4rem;
  }
   