.theme {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  border-radius: 8px;
}

.item {
  background-color: var(--shape-button);
  border-radius: 0.8rem;
  border: 1px solid var(--input-stroke);
  width: 134px;
  height: 103px;
  padding: 0.4rem 0.4rem 0.8rem;
}

.item:hover,
.item:focus-within {
  background-color: var(--shape-hover);
}

input[type="radio"]:checked + .item {
  border: 2px solid var(--brand-light);
  background-color: var(--shape-button);
}

.label {
  text-align: center;
  padding: 0.8rem;
}
